* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.timer-wrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    margin: 50px auto;

    .main-timer {
        border: 1px solid black;
        font-size: 3rem;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .focus-timer {
        border: 1px solid black; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.2rem;
        padding: 0 0 0 10px;
        cursor: pointer;

        .label {
            width: 100%;
            text-align: left;
            border-right: 1px solid black;
        }
        .timer {
            width: 100%;
            text-align: center;
            border: 1px solid black;
        }

        &.active {
            background-color: lightgreen;
        }
    }

    .delete-button {
        border: 1px solid black;
        height: 27px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .focus-add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 40px;
        

        input {
            width: 80%;
            height: 100%;
            min-height: 40px;
            padding: 0 10px;
        }

        #btn_new_timer {
            cursor: pointer;
        }
    }
}
