:root {
  /* Darkmode */
  --hover-red: tomato;
  --hover-blue: rgb(4, 134, 177);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  padding: 40px 0;
  background-color: var(--main-bg-color);
  color: var(--secondary-color);
}

.settings-button {
  position: fixed;
  top: 40px;
  left: 50px;
  cursor: pointer;
}

.modal-settings {
  display: none;
}
.modal-settings.active {
  display: block;
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: white;
}
.modal-settings.active .close-button {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: red;
  box-shadow: inset 0 0 13px white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-settings.active h4 {
  margin: 50px auto 20px auto;
}
.modal-settings.active .theme-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.modal-settings.active .theme-wrapper .theme-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  cursor: pointer;
}
.modal-settings.active .theme-wrapper .theme-button.light {
  background-color: white;
  color: black;
}
.modal-settings.active .theme-wrapper .theme-button.dark {
  background-color: black;
  color: white;
}
.modal-settings.active .theme-wrapper .theme-button.teal {
  background-color: rgba(0, 0, 0, 0.9);
  color: aqua;
}
.modal-settings.active .theme-wrapper .theme-button.red {
  background-color: rgba(0, 0, 0, 0.9);
  color: red;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 0 20px var(--shadow-color);
  border-radius: 8px;
}
.timer-wrapper .main-timer {
  font-size: clamp(1.5rem, 1rem + 5vw, 3rem);
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer-wrapper .main-timer .controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.timer-wrapper .main-timer .controls .run-pause,
.timer-wrapper .main-timer .controls .refresh-main {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin-right: 5px;
}
.timer-wrapper .main-timer .controls .run-pause:hover,
.timer-wrapper .main-timer .controls .refresh-main:hover {
  background-color: var(--hover-blue);
}
.timer-wrapper .focus-timer {
  display: grid;
  grid-template-columns: 1fr 1fr 40px 40px;
  font-size: 1rem;
  padding: 0 0 0 10px;
  cursor: pointer;
}
.timer-wrapper .focus-timer .label {
  width: 100%;
  text-align: left;
}
.timer-wrapper .focus-timer .timer {
  width: 100%;
  text-align: center;
}
.timer-wrapper .focus-timer.active {
  outline: 2px solid var(--selected-color);
  font-weight: 700;
}
.timer-wrapper .focus-timer:nth-child(even) {
  background-color: var(--tertiary-color);
}
.timer-wrapper .delete-button {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.timer-wrapper .delete-button:hover {
  background-color: var(--hover-red);
}
.timer-wrapper .refresh-button {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.timer-wrapper .refresh-button:hover {
  background-color: var(--hover-blue);
}
.timer-wrapper .focus-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  margin-top: 3px;
}
.timer-wrapper .focus-add input {
  width: 80%;
  height: 100%;
  min-height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 0 0 8px 0;
}
.timer-wrapper .focus-add input[type=text] {
  border-radius: 0 0 0 8px;
}
.timer-wrapper .focus-add input[type=submit] {
  background-color: var(--button-color);
  color: var(--secondary-color);
  font-weight: bold;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.timer-wrapper .focus-add input[type=submit]:hover {
  background-color: var(--button-hover-color);
}
.timer-wrapper .focus-add #btn_new_timer {
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */