* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
    padding: 40px 0;
}

.timer-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 0 20px black;
    border-radius: 8px;

    .main-timer {
        font-size: clamp(1.5rem, 1rem + 5vw, 3rem);
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .controls {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .run-pause, .refresh-main {
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all .4s ease-in-out;
                margin-right: 5px;
    
                &:hover {
                    background-color: lightblue;
                }
            }
        }


    }

    .focus-timer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.2rem;
        padding: 0 0 0 10px;
        cursor: pointer;

        .label {
            width: 100%;
            text-align: left;
        }
        .timer {
            width: 100%;
            text-align: center;
        }

        &.active {
            outline: 2px solid lightgreen;
            font-weight: 700;
        }
    }

    .focus-timer:nth-child(even) {
        background-color: lightgray;
    }

    .delete-button {
        height: 27px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s ease-in-out;

        &:hover {
            background-color: lightcoral;
        }
    }

    .focus-add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 40px;
        

        input {
            width: 80%;
            height: 100%;
            min-height: 40px;
            padding: 0 10px;
            border: none;
            border-radius: 0 0 8px 0;
        }

        input[type=text] {
            border-radius: 0 0 0 8px;
        }

        input[type=submit] {
            background-color: rgb(245, 245, 245);
            width: 100%;
            height: 100%;
        }

        #btn_new_timer {
            cursor: pointer;
        }
    }
}
